<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <!--script src="{{ url_for('static', filename='script.js') }}" defer></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" />
    <title>Room Booking</title>

    <script>

      $(document).ready(function() {
        $(".bookbtn").click(function() {
          var page = $(this).attr("id"); // Get the value of the "page" attribute of the button
          $("input[name='roomid']").val(page); // Set the value of the hidden input field to the "page" attribute value
          $("#mainform").submit(); // Submit the form
        });
        
        $(".hourbtn").click(function() {
          var slot= $(this).attr("slotid"); 
          $("input[name='shour']").val(slot); 
          $("#mainform").submit(); 
        });
      });




    </script>
  </head>
  <body>
    <form id="mainform" action="{{ url_for('index') }}" class="form" method="POST">

      <h1 class="text-center">Room Booking Form</h1>
      <!-- Progress bar -->

      
      <div class="progressbar">
        <div class="progress" id="progress"></div>
        
        <div class="progress-step{{ ' progress-step-active' if stage == 'main' else '' }}" data-title="Welcome"></div>
        <div class="progress-step{{ ' progress-step-active' if stage == 'guests' else '' }}" data-title="Guests"></div>
        <div class="progress-step{{ ' progress-step-active' if stage == 'rooms' else '' }}" data-title="Rooms"></div>
        <div class="progress-step{{ ' progress-step-active' if stage == 'dates' else '' }}" data-title="Dates"></div>
        <div class="progress-step{{ ' progress-step-active' if stage == 'hours' else '' }}" data-title="Hours"></div>
        <div class="progress-step{{ ' progress-step-active' if stage == 'confirm' else '' }}" data-title="Confirm"></div>
      </div>
      

      <!-- Steps -->

      {% if stage == "main" %}

      <div class="form-step form-step-active">
        <div class="input-group">
          <div>
            <h1>Welcome {{ session.firstname }} {{ session.lastname }}</h1> <br>
            <h3>Role: {{ session.userrole }}</h3></div>

          {% if err %}

            <span style="color: red"> {{ err }}</span>

          {% elif MyBookings|length == 0 %}
            <span>You have no bookings at present</span>

          {% else %}
          
          <table class="table" id="tbl">
            <thead style="background-color: rgb(11, 78, 179); color: #f3f3f3">
              <tr>
                <th scope="col" style="width:150px;">Room Description</th>
                <th scope="col">Date</th>
                <th scope="col">TimeSlot</th>
                <th scope="col">Guests</th>
              </tr>
            </thead>
            <tbody id="myTable" style="background-color: rgb(235, 240, 245)">
              <!-- first-row -->
              {% for row in MyBookings %}
              <tr>
                <td>{{ row["roomdesc"] }}</td>
                <td>{{ row["bdate"].strftime('%d/%m/%y') }}</td>
                <td>{{ row["start"] }} - {{ row["end"] }}</td>
                <td>{{ row["guests"] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% endif %}

        </div>
        <div class="btns-group">
          <input type="hidden" name="s" value="guests">
          <button type="submit" class="btn btn-next" name="submit">Make a Booking</button>
        </div>
      </div>

      {% endif %}

      {% if stage == "guests" %}

      <div class="form-step form-step-active">
        <div class="input-group">
          <label for="guests">Number of Guest</label>
          <input type="number" name="guests" id="guests" />
        </div>
        <div class="btns-group">
          <input type="hidden" name="s" value="rooms">
          <button type="submit" class="btn btn-next" name="submit">Next</button>
        </div>
      </div>

      {% endif %}

      {% if stage == "rooms" %}

      <div class="form-step form-step-active">
        <div class="input-group">

          {% if err %}

            <span style="color: red"> {{ err }}</span>

          {% elif data|length == 0 %}
            <span>No rooms found</span>

          {% else %}

          <h3> Available Rooms for {{ session.firstname }} {{ session.lastname }}</h3>
          
          <table class="table" id="tbl">
            <thead style="background-color: rgb(11, 78, 179); color: #f3f3f3">
              <tr>
                <th scope="col" style="width:150px;">Room Description</th>
                <th scope="col">Min Capacity</th>
                <th scope="col">Max Capacity</th>
                <th scope="col">Book This</th>
              </tr>
            </thead>
            <tbody id="myTable" style="background-color: rgb(235, 240, 245)">
              <!-- first-row -->
              {% for row in data %}
              <tr>
                <td>{{ row["description"] }}</td>
                <td>{{ row["min"] }}</td>
                <td>{{ row["max"] }}</td>
                <td><button type="submit" class="btn bookbtn" style="width:70px" id="{{ row['room_id'] }}">Book</button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% endif %}
        </div>
        <div class="btns-group">
          <input type="hidden" name="s" value="dates">
          <input type="hidden" name="guests" value="{{ NoGuests }}">
          <input type="hidden" name="roomid" value="">
        </div>
      </div>

      {% endif %}

      {% if stage == "dates" %}

      <div class="form-step form-step-active">
        <div class="input-group">
          {% if err %}

          <span style="color: red"> {{ err }}</span>

          {% else %}

          <h3> Available Dates for this Room</h3>

          <div id="datepicker" style="  display: flex;justify-content: center;align-items: center;"></div>
          <script>      
            $( function() {
              // Get today's date
                  var today = new Date();
                  console.log(today)

                  // Calculate tomorrow's date
                  // Calculate the date one month from today
                  var oneMonthFromToday = new Date();
                  console.log(oneMonthFromToday)
                  oneMonthFromToday.setMonth(today.getMonth() + 1);

                  // Initialize the datepicker with the minDate and maxDate options
                  $('#datepicker').datepicker({
                    minDate: today, // set the minimum date to today
                    //A Bug Here, not matter what, I will not let users chose today's date
                    maxDate: oneMonthFromToday, // set the maximum date to tomorrow
                    beforeShowDay: function(date) {
                      // Disable all dates before today and after tomorrow
                      
                      if (date < today || date > oneMonthFromToday) {
                        return [false];
                      }
                      return [true];
                    },
                    onSelect: function(dateText, inst) {
                      $('#sdate').val(dateText);
                    }
                  });

            } );
    
    
          </script>
          {% endif %}

          
        </div>
        <div class="btns-group">
          <input type="hidden" name="s" value="hours">
          <input type="hidden" name="guests" value="{{ NoGuests }}">
          <input type="hidden" name="roomid" value="{{ Room_id }}">
          <input type="hidden" name="sdate" id="sdate">
          <button type="submit" class="btn btn-next" name="submit">Next</button>
        </div>
      </div>

      {% endif %}

      {% if stage == "hours" %}

      <div class="form-step form-step-active">
        <div class="input-group">
          {% if err %}

          <span style="color: red"> {{ err }}</span>

          {% else %}
          <h3> Available Time Slots for this date</h3>

          <div class="button_container" style="  display: grid;grid-template-columns: repeat(3, 1fr); grid-gap: 10px;"></div>
            {% for key, row in ASlots.items() %}
            
            <button type="submit" class="btn hourbtn" style="display:unset;" slotid="{{ row["slot_id"] }}">{{ row["start"] }} - {{ row["end"] }}</button>
            {% endfor %}
          </div>

          {% endif %}
        </div>
        <div class="btns-group">
          <input type="hidden" name="s" value="confirm">
          <input type="hidden" name="guests" value="{{ NoGuests }}">
          <input type="hidden" name="roomid" value="{{ Room_id }}">
          <input type="hidden" name="sdate" value="{{ SelectedDate }}">
          <input type="hidden" name="shour" id="shour">
        </div>
      </div>

      {% endif %}

      {% if stage == "confirm" %}

      <div class="form-step form-step-active">
        <div class="input-group">
          {% if err %}

          <span style="color: red"> {{ err }}</span>

          {% else %}

          <h3>You have selected the following:</h3>

          <table class="table" id="tbl" style="width: 100%">
            <tbody id="myTable" style="background-color: rgb(235, 240, 245)">
              <!-- first-row -->

              <tr>
                <td>No of Guests</td><td>{{ NoGuests }}</td>
              </tr>
              <tr>
                <td>Room</td><td>{{ ARooms[Room_id]['description'] }}</td>
              </tr>
              <tr>
                <td>No of Guests</td><td>{{ SelectedDate }}</td>
              </tr>
              <tr>
                <td>Room</td><td>{{ ASlots[SSlot]['start'] }} - {{ ASlots[SSlot]['end'] }}</td>
            </tbody>
          </table>         

          {% endif %}

        </div>
        <div class="btns-group">
          <input type="hidden" name="s" value="submit">
          <input type="hidden" name="guests" value="{{ NoGuests }}">
          <input type="hidden" name="roomid" value="{{ Room_id }}">
          <input type="hidden" name="sdate" value="{{ SelectedDate }}">
          <input type="hidden" name="shour" value="{{ SSlot }}">
          <button type="submit" class="btn btn-next" name="submit">Confirm</button>
        </div>
      </div>

      {% endif %}


      {% if stage == "submit" %}

      <div class="form-step form-step-active">
        <div class="input-group">
          {% if err %}

          <span style="color: red"> {{ err }}</span>

          {% else %}

              <div>Submission was a success</div>

          {% endif %}

        </div>
        <div class="btns-group">
          <input type="hidden" name="s" value="main">
          <button type="submit" class="btn btn-next" name="submit">Close</button>
        </div>
      </div>

      {% endif %}


    </form>
  </body>
</html>