<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <!--script src="{{ url_for('static', filename='script.js') }}" defer></script-->
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Room Booking</title>

    <script>

      $(document).ready(function() {
        $(".bookbtn").click(function() {
          var page = $(this).attr("id"); // Get the value of the "page" attribute of the button
          $("input[name='roomid']").val(page); // Set the value of the hidden input field to the "page" attribute value
          $("#mainform").submit(); // Submit the form
        });
      });


    </script>
  </head>
  <body>
    <form id="mainform" action="{{ url_for('index') }}" class="form" method="POST">

      <h1 class="text-center">Room Booking Form</h1>
      <!-- Progress bar -->

      
      <div class="progressbar">
        <div class="progress" id="progress"></div>
        
        <div class="progress-step{{ ' progress-step-active' if stage == 'main' else '' }}" data-title="Welcome"></div>
        <div class="progress-step{{ ' progress-step-active' if stage == 'guests' else '' }}" data-title="Guests"></div>
        <div class="progress-step{{ ' progress-step-active' if stage == 'rooms' else '' }}" data-title="Rooms"></div>
        <div class="progress-step{{ ' progress-step-active' if stage == 'dates' else '' }}" data-title="Dates"></div>
        <div class="progress-step{{ ' progress-step-active' if stage == 'hours' else '' }}" data-title="Hours"></div>
        <div class="progress-step{{ ' progress-step-active' if stage == 'confirm' else '' }}" data-title="Confirm"></div>
      </div>
      

      <!-- Steps -->

      {% if stage == "main" %}

      <div class="form-step form-step-active">
        <div class="input-group">
          <div>
            Welcome {{ session.firstname }} {{ session.lastname }} !<br>
            Role: {{ session.userrole }}</div>

          <div>

            Here are your previous bookings
            </br>
            To be implemented
            </br>

          </div>

        </div>
        <div class="btns-group">
          <input type="hidden" name="s" value="guests">
          <button type="submit" class="btn btn-next" name="submit">Make a Booking</button>
        </div>
      </div>

      {% endif %}

      {% if stage == "guests" %}

      <div class="form-step form-step-active">
        <div class="input-group">
          <label for="guests">Number of Guest</label>
          <input type="number" name="guests" id="guests" />
        </div>
        <div class="btns-group">
          <input type="hidden" name="s" value="rooms">
          <button type="submit" class="btn btn-next" name="submit">Next</button>
        </div>
      </div>

      {% endif %}

      {% if stage == "rooms" %}

      <div class="form-step form-step-active">
        <div class="input-group">

          {% if err %}

            <span style="color: red"> {{ err }}</span>

          {% elif data|length == 0 %}
            <span>No rooms found</span>

          {% else %}
          
          <table class="table" id="tbl">
            <thead style="background-color: rgb(11, 78, 179); color: #f3f3f3">
              <tr>
                <th scope="col" style="width:150px;">Room Description</th>
                <th scope="col">Min Capacity</th>
                <th scope="col">Max Capacity</th>
                <th scope="col">Book This</th>
              </tr>
            </thead>
            <tbody id="myTable" style="background-color: rgb(235, 240, 245)">
              <!-- first-row -->
              {% for row in data %}
              <tr>
                <td>{{ row["description"] }}</td>
                <td>{{ row["min"] }}</td>
                <td>{{ row["max"] }}</td>
                <td><button type="submit" class="btn bookbtn" style="width:70px" id="{{ row['room_id'] }}">Book</button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% endif %}
        </div>
        <div class="btns-group">
          <input type="hidden" name="s" value="dates">
          <input type="hidden" name="guests" value="{{ NoGuests }}">
          <input type="hidden" name="roomid" value="">
        </div>
      </div>

      {% endif %}

      {% if stage == "dates" %}

      <div class="form-step form-step-active">
        <div class="input-group">
          {% if err %}

          <span style="color: red"> {{ err }}</span>

          {% endif %}

          Days
        </div>
        <div class="btns-group">
          <input type="hidden" name="s" value="hours">
          <button type="submit" class="btn btn-next" name="submit">Next</button>
        </div>
      </div>

      {% endif %}

      {% if stage == "hours" %}

      <div class="form-step form-step-active">
        <div class="input-group">
          Hours
        </div>
        <div class="btns-group">
          <input type="hidden" name="s" value="confirm">
          <button type="submit" class="btn btn-next" name="submit">Next</button>
        </div>
      </div>

      {% endif %}

      {% if stage == "confirm" %}

      <div class="form-step form-step-active">
        <div class="input-group">
          Confirm
        </div>
        <div class="btns-group">
          <input type="hidden" name="s" value="main">
          <button type="submit" class="btn btn-next" name="submit">Next</button>
        </div>
      </div>

      {% endif %}


    </form>
  </body>
</html>