<!DOCTYPE html>
<html>

<head>
  <title>ISE Room Booking Home</title>
  {% include 'nav.html' %}
</head>

<body>
  <div>
    Welcome to the ISE Room Booking System <br />

    {% if session.username %}
    <p>Logged in as {{ session.username }}. <a href="{{ url_for('logout') }}">Logout</a></p>
    <p>Continue to your dashboard. <a href="{{ url_for('dash') }}">My Dashboard</a></p>
    {% else %}
    <p>You are not logged in.</p>
    <a href="{{ url_for('login') }}">Login</a><br />
    {% endif %}

  </div>
</body>

</html>